@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Login">
		<div asp-validation-summary="All" class"text-danger"></div>
		<input class="text email" type="email" asp-for="@Model.Email" placeholder="Email"  required="">		
		<input class="text" type="password" asp-for="@Model.Password" placeholder="Password"  required="">
	<div class="wthree-text">
		<label class="anim">
			<input type="checkbox" class="checkbox">
			<span>Remember Me</span>
		</label>
		<div class="clear"> </div>
	</div>
	<input type="submit" value="Log In">
</form>
	<p>Forgot Password? <a asp-action="ForgetPassword"> Forget Password</a></p>
	<p>Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>
</div>

